body {
    font-family: "Georgia";
    background-image: url('bg.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

.lowindent-ul
{
  margin-left: 0px;
  -webkit-padding-start: 15px;
}

.form-signin
{
    width: auto;
    padding: 15px;
    margin: 0 auto;
}

.btn-primary {
  margin-top: 20px;
}

.stretch {
  display: block;
  width: 100%;
}

.form-input:empty { display: none }

.req:after {
content:" *"; 
color: #e32;
position: absolute; 
margin: 10px 5px 5px -15px; 
font-size: 10pt; 
padding: 0 5px 0 0; }

.form-input
{
  width:100%;
  text-align: center;
}

.form-error-table
{
  margin: 5px 5px 5px 5px;
  color: red;
}

.form-error
{
  float: left;
  display: inline;
  margin: 5px 5px 5px 5px;
  color: red;
}

.form-input-inner
{
  width: auto;
  display:inline-block;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}

.text-center {
  text-align:center;
}

.center {
  display: block;
  margin: auto;
  width: auto;
  text-align:center;
  margin-bottom: 10px;
}

.left-block {
  text-align: left;
}

.center-img {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.center-block {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;             
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.userbox {
  text-align: right;
  padding: 10px 20px 5px 10px;
}

.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 0px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.logo-title
{
    color: #555;
    font-size: 26px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.profile-img
{
    width: auto;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}
.need-help
{
    margin-top: 10px;
    display: block;
    text-align: center;
}
.new-account
{
    display: block;
    margin-top: 10px;
    text-align: center;
}

.dashboard_table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

.full_height {
    height: 100%;
    min-height: 600px;
}

.my_table {
    table-layout: fixed;
    width: 100%;
}

.my_th, .my_td {
    width: 33%;
}

.padded
{
  margin: 20px;
}

.top-padded
{
  margin-top: 30px;
}

.inline
{
  display: inline;
}