<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/freenbar.css')}}">
    <title>Safechat</title>
  </head>
  <body>
    <div class="userbox">Welcome to Safechat</div>
    <hr>
    {% block content %}{% endblock %}
  </body>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{url_for('static',filename='js/jquery-1.12.1.min.js')}}"></script>
    {% if barMsg: %}
      {{ ('<script src="' + url_for('static',filename='js/freenbar.min.js') + '"></script>')|safe }}
    {% endif %}
</html>