body {
    font-family: "Lucida Console";
    background-image: url('bg.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.center-block {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 0px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.logo-title
{
    color: #555;
    font-size: 26px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.profile-img
{
    width: auto;
    height: auto;
    margin: 0 auto 10px;
    display: block;
}
.need-help
{
    margin-top: 10px;
    display: block;
    text-align: center;
}
.new-account
{
    display: block;
    margin-top: 10px;
    text-align: center;
}