{% extends "base.html" %}
{% block content%}

<div class="container">
    <div class="row">
          <img class="profile-img" width="200" height="200" src="{{url_for('static',filename='img/400.png')}}"
                    alt="400">
          <span class="text-center"><h2>Bad request. If you are trying to hack us, kindly stop it now.</h2></span>
          <span class="text-center"><h3>Now, go to the <a href="{{url_for('site_login')}}">main page</a> and start behaving yourself</h3></span>
    </div>
</div>
{% endblock %}