{% extends "base.html" %}
{% block content%}

<div class="container">
    <div class="row">
          <img class="profile-img" src="{{url_for('static',filename='img/lock.png')}}"
                    alt="SafeChat logo">
          <span class="text-center"><h3>Registration successful. You can now <a href="{{url_for('site_login')}}">log in</a>.</h3></span>          
    </div>
</div>
{% endblock %}